<launch>

    <!-- ARTIFACTS -->
    <rosparam command="load" file="$(find artifacts_bci)/cfg/ringbuffer.yaml"/>
    <rosparam command="load" file="$(find artifacts_bci)/cfg/artifact.yaml"/>

    <node name="artifactDetector_node" pkg="artifacts_bci" type="artifactDetector_node" output="screen"/>

    <!-- TEST NODES -->
    <node pkg="artifacts_bci" type="test_logger_artifacts_bci" name="test_logger_artifacts_bci" output="screen">
        <param name="output_filename" value="$(find artifacts_bci)/test/artifacts.csv"/>
    </node>

    <arg name="chunk_size"  default="25"/>
    <arg name="sample_rate" default="500"/>
    <node pkg="artifacts_bci" type="test_publisher_artifacts_bci" name="test_publisher_artifacts_bci" output="screen">
        <param name="csv_file"    value="$(find artifacts_bci)/test/rawdata.csv"/>
        <param name="chunk_size"  value="$(arg chunk_size)"/>
        <param name="sample_rate" value="$(arg sample_rate)"/>
    </node>

</launch>
