<launch>

    <!-- ARTIFACTS -->
    <rosparam command="load" file="$(find artifacts_bci)/cfg/ringbuffer.yaml"/>
    <rosparam command="load" file="$(find artifacts_bci)/cfg/artifact.yaml"/>
    <!-- nchannels, chunkSize, sampleRate are read automatically from the incoming NeuroFrame -->

    <node name="artifactDetector_node" pkg="artifacts_bci" type="artifactDetector_node" output="screen"/>

</launch>
